<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!-- => HERO -->
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<div class="promo-hero promo-hero-bg-image">
    <div class="promo-hero-content">
        <h1 class="promo-hero-title">W/\ISTED</h1>
        <p class="promo-hero-description hide-for-small-only"> An interview is never a waste of time...as long as you look good.
        </p>
        <div class="promo-hero-ctas">
            <a href="<%= signup_path %>" class="promo-section-cta button primary">Create an Account</a><br>
            <a href="<%= outfits_path %>" class="promo-section-cta button white-hollow">Shop Now</a>
        </div>
    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!-- => INDEX: FEATURES SECTION -->
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

<div class="marketing-site-features">
    <h2 class="marketing-site-features-headline">Yeti Approved Features</h2>
    <p class="marketing-site-features-subheadline subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit
        quaerat eos words and phrases.</p>
    <div class="row">
        <div class="small-12 medium-3 columns">
            <i class="fas fa-money-bill-wave"></i>
            <h4 class="marketing-site-features-title">Special Snowflake</h4>
            <p class="marketing-site-features-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="small-12 medium-3 columns">
            <i class="fa fa-angellist" aria-hidden="true"></i>
            <h4 class="marketing-site-features-title">Friendly Forms </h4>
            <p class="marketing-site-features-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="small-12 medium-3 columns">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
            <h4 class="marketing-site-features-title">Special Snowflake</h4>
            <p class="marketing-site-features-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="small-12 medium-3 columns">
            <i class="fa fa-battery-full" aria-hidden="true"></i>
            <h4 class="marketing-site-features-title">Lithium Ion</h4>
            <p class="marketing-site-features-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!-- => INDEX: TESTIMONIALS SECTION -->
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

<div class="featured-testimonials-section">
    <div class="row columns">
        <h2>Testimonials</h2>
    </div>
    <div class="featured-testimonials row">
        <div class="small-12 medium-6 columns">
            <div class="testimonial">
                <img class="profile-pic hide-for-small-only" src="https://unsplash.it/201/?random">
                <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full
                    speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="testimonial">
                <img class="profile-pic hide-for-small-only" src="https://unsplash.it/202/?random">
                <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full
                    speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
            </div>
        </div>
    </div>
    <div class="featured-testimonials row">
        <div class="small-12 medium-6 columns">
            <div class="testimonial">
                <img class="profile-pic hide-for-small-only" src="https://unsplash.it/203/?random">
                <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full
                    speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="testimonial">
                <img class="profile-pic hide-for-small-only" src="https://unsplash.it/204/?random">
                <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full
                    speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!-- => INDEX: AS FEATURED IN SECTION -->
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<div class="featured-items">
    <div class="row align-middle align-justify featured-items-wrapper">
        <h4 class="featured-items-title">As Featured In:</h4>
        <div class="featured-items-brands">
            <img src="https://placehold.it/150x70">
            <img src="https://placehold.it/125x60">
            <img src="https://placehold.it/150x70">
            <img src="https://placehold.it/130x50">
        </div>
    </div>
</div>
