<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!-- => HERO -->
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<div class="promo-hero promo-hero-bg-image">
    <div class="promo-hero-content">
        <h1 class="promo-hero-title">W/\ISTD</h1>
        <p class="promo-hero-description hide-for-small-only"> An interview is never a waste of time...as long as you look good.
        </p>
        <div class="promo-hero-ctas">
            <a href="<%= signup_path %>" class="promo-section-cta button primary">Get W/\ISTED</a><br>
            <a href="<%= outfits_path %>" class="promo-section-cta button white-hollow">Shop Now</a>
        </div>
    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!-- => INDEX: FEATURES SECTION -->
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

<div class="marketing-site-features">
    <h2 class="marketing-site-features-headline">Who We Are</h2>
    <p class="marketing-site-features-subheadline subheader">At W/\ISTD, we want to take the stress out of deciding what to wear for that big interview. We want you to feel confident and look great without breaking the bank.<br>
       Rent with W/\ISTD to save time, money, and so that you can focus on the things that matter...like fueling yourself with liquid courage.  <br>

    Interviewing for jobs might be a giant waste of time, but at least you’ll look great.<br>
<br>
    - The W/\ISTD Team.</p>

    <div class="row">
        <div class="small-12 medium-3 columns">
            <i class="fas fa-user-circle"></i>
            <h4 class="marketing-site-features-title">Create An Account</h4>
            <p class="marketing-site-features-desc">Create a profile and tell us about your preferences so that we can help you find clothing and accessories that fit your style.</p>
        </div>
        <div class="small-12 medium-3 columns">
            <i class="fas fa-search"></i>
            <h4 class="marketing-site-features-title"> Browse </h4>
            <p class="marketing-site-features-desc">Choose from one of our pre-styled outfits or create your own from our selection of premium products. </p>
        </div>
        <div class="small-12 medium-3 columns">
          <i class="fas fa-exchange-alt"></i>
            <h4 class="marketing-site-features-title">Rent and Return</h4>
            <p class="marketing-site-features-desc">Rent your items for one low price. Use it for a week, and then send it back. That’s it. No dry-cleaning bill, no hassle. </p>
        </div>
        <div class="small-12 medium-3 columns">
            <i class="fas fa-glass-martini-alt"></i>
            <h4 class="marketing-site-features-title">Relax</h4>
            <p class="marketing-site-features-desc">Now you can take it easy, knowing that you'll look great for the big day.</p>
        </div>
    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!-- => INDEX: TESTIMONIALS SECTION -->
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

<div class="featured-testimonials-section">
    <div class="row columns">
        <h2>Testimonials</h2>
    </div>
    <div class="featured-testimonials row">
        <div class="small-12 medium-6 columns">
            <div class="testimonial">
                <img class="profile-pic hide-for-small-only" src="<%= image_tag("pages/trump.jpg", :alt => "trump feed") %>">
                <p class="featured-testimonials-quotation"> I just started to look for a job after things got really really bad at work. I mean really really really bad. Totally unfair. Totally toally unfair. Witch hunt. I have a lot of interviews scheduled with some really really great guys. Russian guys. They're really great guys. W/\ISTD is so great. Really great. The best. They helped me look great. Really really great. </p>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="testimonial">
                <img class="profile-pic hide-for-small-only" src="https://unsplash.it/202/?random">
                <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full
                    speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
            </div>
        </div>
    </div>
    <div class="featured-testimonials row">
        <div class="small-12 medium-6 columns">
            <div class="testimonial">
                <img class="profile-pic hide-for-small-only" src="https://unsplash.it/203/?random">
                <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full
                    speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="testimonial">
                <img class="profile-pic hide-for-small-only" src="https://unsplash.it/204/?random">
                <p class="featured-testimonials-quotation">Hide when guests come over instantly break out into full
                    speed make cat go crazy. Meow mix meow meow cat things and purring. catnip.</p>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!-- => INDEX: AS FEATURED IN SECTION -->
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<div class="featured-items">
    <div class="row align-middle align-justify featured-items-wrapper">
        <h4 class="featured-items-title">As Featured In:</h4>
        <div class="featured-items-brands">
            <img src="https://placehold.it/150x70">
            <img src="https://placehold.it/125x60">
            <img src="https://placehold.it/150x70">
            <img src="https://placehold.it/130x50">
        </div>
    </div>
</div>
