.promo-hero-bg-image {
  // background-image: url(images/pages/suits_holding.jpg);
  background-image: image-url("pages/stylish_couple.png");
  height: 550px
}
.featured-items-brands image {
  height: 50px;
  width: 100px
}
